.titulo{
  display: flex;
  justify-content: center;
}

.combobox{
  margin-top: 3%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.tabla{
  margin-left: 30%;
  margin-right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

